.carousel__inner-slide {
  width: calc(100% - 0.5rem) !important;
}
.client {
  flex-grow: 1;
  width: 100%;
  &_related {
    height: auto;
    cursor: pointer !important;
    margin-right: 10px !important;
    &:hover {
      animation-play-state: paused;
    }
    & > div {
      height: auto !important;
    }
    @include respond(600px) {
      margin-right: 5px !important;
    }
    & .client__image {
      width: 12.8rem;
      height: 11.85rem;
      @include respond(1700px) {
        width: 12.5rem;
        height: 11.72rem;
      }
      @include respond(1600px) {
        width: 13rem;
        height: 12.35rem;
      }
      @include respond(1400px) {
        width: 12rem;
        height: 11.1rem;
      }
      @include respond(900px) {
        width: 11rem;
        height: 10.18rem;
      }
      @include respond(600px) {
        width: 9rem;
        height: 8.33rem;
      }
      @include respond(400px) {
        width: 8rem;
        height: 7.4rem;
      }
    }
  }
  &:not(:last-child) {
    margin-right: 5px;
  }
  &__image {
    width: 11.8rem;
    height: 11rem;
    @include respond(600px) {
      width: 6.4rem;
      height: 6rem;
    }
  }
  &__body {
    width: 100%;
    height: 150px;
    border-radius: 0px !important;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 5px 10px 0;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__title {
    background-image: linear-gradient(to right, #1ca346, #6fba1a);
    padding: 5px 0;
    color: #fff;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    text-align: center;
    @include respond(500px) {
      font-size: 1.15rem !important;
    }
    @include respond(270px) {
      font-size: 1rem !important;
    }
  }
}

.featuredCategories {
  margin-bottom: 1.5rem;
  position: relative;
  display: flex;
  justify-content: center;
  &__image {
    height: 290px;
    width: 290px;
    border-radius: 50% !important;
    border: 3px solid #ec1c24;
    @include respond(1300px) {
      height: 250px;
      width: 250px;
    }
    // @include respond(1200px) {
    //   height: 200px;
    //   width: 200px;
    // }
    // @include respond(1024px) {
    //   height: 250px;
    //   width: 250px;
    // }
    @include respond(870px) {
      height: 200px;
      width: 200px;
    }
    @include respond(768px) {
      height: 250px;
      width: 250px;
    }
    @include respond(600px) {
      height: 200px;
      width: 200px;
    }
    @include respond(420px) {
      height: 170px;
      width: 170px;
    }
    @include respond(400px) {
      height: 200px;
      width: 200px;
    }
    @include respond(320px) {
      height: 170px;
      width: 170px;
    }
    &::after {
      z-index: 0 !important;
    }

    & > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      margin: auto;
    }
  }
  &__title {
    background-image: linear-gradient(#1ca346, #6fba1a);
    padding: 1rem 0.5rem;
    width: 270px;
    margin: auto;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    transform: translateY(-2rem);
    z-index: 1;
    text-align: center;
    @include respond(870px) {
      width: 240px;
      font-size: 18px !important;
    }
    @include respond(600px) {
      width: 200px;
      font-size: 14px !important;
    }
    @include respond(420px) {
      width: 180px;
      font-size: 12px !important;
    }
    @include respond(400px) {
      width: 220px;
      font-size: 14px !important;
    }
    @include respond(320px) {
      width: 170px;
      font-size: 12px !important;
    }
  }
  &:hover &__title {
    background-image: linear-gradient(#379253, #79b139);
  }
}

.hero-slider {
  justify-content: center !important;
  margin-top: 0 !important;
  padding: 0.5rem 0 !important;
}

.collection-arrow {
  background-color: #0082c9 !important;
  &--left {
    @include respond(600px) {
      left: -5px !important;
    }
  }
  &--right {
    @include respond(600px) {
      right: -5px !important;
    }
  }

  & > div > div {
    @include respond(600px) {
      height: 1rem;
      width: 1rem;
    }
  }
}
