.review {
  position: static !important;
  &__hero-image {
    height: 48rem !important;
    width: 48rem !important;
    padding: 2rem !important;
    @include respond(600px) {
      width: 100% !important;
      height: auto !important;
      padding: 0rem !important;
    }
  }
  &__rating {
    margin: 1rem 0 !important;
    display: flex;
    justify-content: center;
  }
  &__arrow-btn {
    position: absolute;
    top: 10px !important;
    @include respond(600px) {
      display: none;
    }
    @include respond(365px) {
      top: 90px !important;
    }
    &--left {
      right: 80px;
      @include respond(500px) {
        right: 35%;
        transform: translateX(-50%);
        margin-right: 4rem;
      }
    }
    &--right {
      right: 20px;
      @include respond(500px) {
        right: 30%;
      }
    }
  }
  &__carousel-dot {
    position: relative;
    height: 6px;
    width: 50px;
    border-radius: 5px;
    margin: 0.25rem;
    cursor: pointer;
    background: #ccc;
    &__wrapper {
      justify-content: center !important;
      margin-left: 0 !important;
    }
    &--active {
      background: linear-gradient(#1ca346, #6fba1a);
    }
  }
}

.review_summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 12rem;
  & > div:first-child {
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    text-align: center;
  }
}
.star {
  align-items: center;
  margin-bottom: 0.5rem;
  & > * {
    &:not(:last-child) {
      margin-right: 1rem;
    }
  }
  & > h5 {
    display: inline-block;
  }
  &__wrapper {
    max-width: 45rem;
    margin: auto;
    @include respond(1400px) {
      max-width: 50rem;
    }
    @include respond(300px) {
      padding: 1rem;
      text-align: center;
    }
  }
  &__star {
    color: #2a5bda;
    font-size: 18px;
    font-weight: 400 !important;
    width: 15%;
    text-align: left;
  }
  &__percentage {
    color: #323357 !important;
    font-size: 1.8rem !important;
    width: 15%;
  }
  &__rating {
    // width: 28rem;
    width: 70%;
    height: 1.5rem;
    border-radius: 50px;
    margin-right: 1.5rem !important;
    @include respond(300px) {
      width: 65%;
    }
  }
}
