.share {
  border: none;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 5%;
  left: 0px;
  max-height: 3.8rem;
  width: 16.1rem !important;
  z-index: 1;
  // background-color: #0082c9;
  background-color: #006EA9;
  color: #fff;
  cursor: pointer;

  @include respond(900px) {
    padding-left: 20px !important;
    padding-right: 20px !important;
    bottom: 15%;
  }

  @include respond(600px) {
    bottom: 20%;
    width: 8rem !important;
    padding: 2px 2px 2px !important;

    & div {
      font-size: 1.4rem;
    }

    & svg {
      height: 8px;
      width: 8px;
    }
  }

  &__modal {
    max-width: 50rem;

    @include respond(500px) {
      width: 80%;
    }

    @include respond(310px) {
      width: 90%;
    }
  }

  &__clipboard {
    flex-grow: 1;
    overflow: hidden;
    font-family: inherit;
    font-size: 1.6rem;
    font-weight: 600;
  }
}