@import './mixins';
@import './layout';
@import './home';
@import './utils';
@import './review';
@import './product';
@import './blog';
@import './query';
@import './clients';
@import './share';
@import './slider';

$darkGrey: #dbdbdb;
$primaryColor: #80c627;

@mixin buttonReset() {
  outline: 0;
  border: 0;
  background: none;
  padding: 0;
  appearance: none;
}

html {
  font-size: 62.5% !important;

  @include respond(110em) {
    // 1745
    zoom: 0.85;
  }

  @include respond(107em) {
    // 1534
    zoom: 0.78;
  }

  @include respond(87.5em) {
    // 1400
    zoom: 1;
  }

  @include respond(72em) {
    // 1152
    zoom: 0.9;
  }

  @include respond(65em) {
    // 1040
    zoom: 0.8;
  }

  @include respond(56.25em) {
    // 900
    zoom: 1;
  }

  @include respond(25em) {
    // 400
    zoom: 0.7;
  }
}

.product-images {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(7.5rem, 1fr));
  grid-gap: 1rem;

  figure {
    margin: 0;
    position: relative;
    // display: flex;
    // &::before {
    //   content: '';
    //   display: table;
    //   width: 100%;
    //   padding-top: 100%;
    // }
    // &:hover .remove-image {
    //   visibility: visible;
    //   opacity: 1;
    // }

    img {
      width: 7.5rem;
      height: 7.5rem;
      max-width: none !important;
      object-fit: cover;
      border-radius: 0.8rem;
    }

    &:hover .remove-image,
    &:hover .featured-image {
      opacity: 1;
      visibility: visible;
    }
  }

  .isFeatured {
    &>img {
      border: 4px solid #3a9acd;
    }
  }

  .hideFeaturedOption {
    .featured-image {
      display: none;
    }

    .remove-image {
      top: -0.8rem;
    }
  }

  .featured-image,
  .remove-image {
    @include buttonReset();
    background-color: $darkGrey;
    font-size: 1rem;
    border-radius: 50%;
    position: absolute;
    top: -0.8rem;
    right: 0;
    transition: 0.3s;
    opacity: 0;
    z-index: 2;
    visibility: hidden;
    padding: 0.3rem;
    cursor: pointer;

    &>svg {
      width: 1.4rem;
      height: 1.4rem;
    }

    &:hover {
      background-color: $primaryColor;
      color: white;
    }
  }

  .featured-image {
    right: 0rem;
    top: -0.8rem;

    &>svg {
      width: 1.3rem;
      height: 1.3rem;
    }
  }

  .add-new-image {
    height: 7.1rem !important;
    width: 7.1rem !important;
    border: 2px dashed $darkGrey;
    border-radius: 0.8rem;
    display: grid;
    place-content: center;
    color: $darkGrey;
    cursor: pointer;

    &:hover {
      border-color: $primaryColor;
      color: $primaryColor;
    }
  }

  .upload-image {
    height: 4.4rem;
    border: 2px dashed $darkGrey;
    border-radius: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    place-content: center;
    color: #999;
    cursor: pointer;

    &:hover {
      border-color: $primaryColor;
      color: $primaryColor;
    }
  }
}

.object-fit-cover {
  object-fit: cover !important;
}

// new css for home page

.hero-section {
  background-color: #fff;
}

.hero-img {
  margin-left: auto;
  width: calc(100% - 300px);
}

.hero-img .swiper-slide {
  height: 513px;
}

.hero-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.our-clients-section {
  padding: 20px 0;
}

.client-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  position: relative;

  h3,
  h2 {
    font-size: 32px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
  }

  a {
    display: flex;
    align-items: center;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: 14px;
    white-space: nowrap;
  }
}


.client-heading a svg {
  flex-shrink: 0;
}

.clients-main-wrap {
  display: grid;
  grid-template-columns: repeat(8, minmax(151px, 1fr));
  gap: 10px;
}

.client-box {
  width: 100%;
  height: 180px;
  border-radius: 0 !important;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 5px 0 0;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  position: relative;

  &:before {
    position: absolute;
    content: "";
    background: rgba(0, 0, 0, 0.3);
    inset: 0px;
    z-index: 1;
    transition: 250ms ease-in-out;
    width: 100%;
    height: 0%;
    left: 0;
    top: 0;
    border-radius: 5px 5px 0 0;
  }
}

.client-box:hover:before {
  height: 82.5%;
}

.client-box {
  img {
    width: 151px;
    aspect-ratio: auto 151 / 139;
    height: 130px;
    padding: 0 5px;
    object-fit: cover;
  }

  p {
    background-image: -webkit-gradient(linear, left top, right top, from(#1ca346), to(#6fba1a));
    background-image: linear-gradient(90deg, #1ca346, #6fba1a);
    padding: 5px 0;
    color: #fff;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 600;
    width: 100%;
    margin: 0;
  }

}

.text-begin {
  justify-content: start;
  margin-bottom: 40px;
}

.featured-categories-section {
  padding: 40px 0;
}

.category-main-wrap {
  display: grid;
  grid-template-columns: repeat(4, minmax(25%, 1fr));
  column-gap: 10px;
  row-gap: 35px;
}

.category-main-wrap .category-box {
  width: 100%;
  height: 100%;
  text-align: center;
}

.category-box h4 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#1ca346), to(#6fba1a));
  background-image: linear-gradient(#1ca346, #6fba1a);
  padding: 1rem 10px;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  -webkit-transform: translateY(-2rem);
  transform: translateY(-2rem);
  position: relative;
  z-index: 99;
  text-align: center;
  max-width: 310px;
  margin: auto;
}

.img-placee {
  border: 3px solid #ec1c24;
  border-radius: 50%;
  height: 290px;
  width: 290px;
  margin: auto;
  position: relative;
}

.category-main-wrap .category-box img {
  border-radius: 50%;
  height: 100%;
  width: 100%;
}

.category-box .img-placee:before {
  position: absolute;
  content: "";
  background: rgba(0, 0, 0, 0.3);
  inset: 0px;
  z-index: 1;
  transition: 250ms ease-in-out;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  left: 0;
  top: 0;
  border-radius: 50%;
  transform: scale(0);
}

.category-box:hover .img-placee:before {
  transform: scale(1);
}

.desktop-banner {
  display: block;
  height: 100%;
  object-fit: fill !important;
}

.mobile-banner {
  display: none;
}

// responsive css

@media (max-width: 675px) {
  .hero-img {
    margin-left: 0 !important;
    width: 100%;
  }

  .hero-img .swiper-slide {
    height: 178px;
  }

  .featured-categories-section {
    padding-top: 20px !important;
  }

  .hero-img img {
    width: 100%;
    object-fit: contain;
  }

  .client-heading h2 {
    font-size: 24px;
  }

  .clients-main-wrap {
    grid-template-columns: repeat(4, 1fr);
  }

  .clients-main-wrap>*:nth-child(n+5) {
    display: none;
  }

  .clients-main-wrap .client-box {
    width: 100%;
  }

  .category-main-wrap {
    grid-template-columns: repeat(2, 1fr);
  }

  .desktop-banner {
    display: none;
  }

  .mobile-banner {
    display: block;
    object-fit: fill !important;
  }

  .our-clients-section {
    padding-left: 5px;
    padding-right: 5px;
  }

  .featured-categories-section {
    padding-left: 5px;
    padding-right: 5px;
  }

  .img-placee {
    height: 180px;
    width: 180px;
  }

  .category-box h4 {
    font-size: 14px;
    max-width: 85%;
  }

  .client-box img {
    width: 100%;
    // aspect-ratio: auto 111/90;
    object-fit: contain;
  }

  .client-box:hover:before {
    height: 100%;
  }

  .client-box {
    height: 135px;
  }

  .client-box p {
    font-size: 1rem;
  }

  html {
    zoom: 0.8 !important;
  }
}

@media (min-width: 675px) and (max-width: 992px) {
  .hero-img {
    margin-left: 0 !important;
    width: 100%;
  }

  .hero-img {
    position: relative;
    height: 245px;
    overflow: hidden;
  }

  .client-heading h2 {
    font-size: 20px;
  }

  .clients-main-wrap {
    grid-template-columns: repeat(3, minmax(151px, 1fr));
  }

  .category-main-wrap {
    grid-template-columns: 1fr 1fr;
  }

  .gio-container {
    padding-left: 15px;
    padding-right: 15px;
  }

  .desktop-banner {
    display: none;
  }

  .mobile-banner {
    display: block;
  }

  .featured-categories-section {
    padding-left: 10px;
    padding-right: 10px;
  }

  .img-placee {
    height: 195px;
    width: 195px;
  }

  .category-box h4 {
    font-size: 14px;
    max-width: 85%;
  }
}

@media (min-width: 992px) and (max-width: 1400px) {
  .hero-img {
    margin-left: 200px !important;
    width: 100%;
  }

  .client-heading h2 {
    font-size: 20px;
  }

  .clients-main-wrap {
    grid-template-columns: repeat(5, minmax(151px, 1fr));
  }

  .category-main-wrap {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .gio-container {
    padding-left: 20px;
    padding-right: 20px;
  }
}